body {
  background-color: black;
}
#main-nav {
  height: 10vh;
  width: 90vw;
  margin: auto;
  background-color: gray;
  border-radius: 10px;
}
.side-nav {
  height: 8vh;
  width: 10vw;
  margin-left: vw;
}
.carousel {
  max-width: 80vw;
  margin: auto;
  margin-top: 10vh;
}
h2 {
  text-align: center;
  margin-top: 10vh;
}
.container {
  text-align: center;
}
#pager{margin-top: 10vh;}
form{max-width:80vw; margin: auto; color:white;}
